Repository garyttierney/me3, pull requests merged in 2025-07, with the labels that each got.

#284 docs: Complete initial release documentation tasks
  .gitignore
  docs/changelog.md
  docs/configuration-reference.md
  docs/images/me3.png
  docs/includes/glossary.md
  docs/index.md
  docs/overrides/assets/stylesheets/custom.css
  docs/overrides/assets/stylesheets/custom/_typeset.scss
  docs/overrides/hooks/shortcodes.py
  docs/overrides/main.html
  docs/user-guide/creating-mod-profiles.md
  docs/user-guide/faq.md
  docs/user-guide/installation.md
  docs/user-guide/troubleshooting.md
  mkdocs.yml
Labels: documentation

#289 feat: Setup translations for docs site with Crowdin
  .github/workflows/crowdin.yml
Labels: feature

#297 docs: Fix 'value' typo in natives doc comment
  crates/mod-protocol/src/native.rs
  docs/configuration-reference.md
  schemas/mod-profile.json
Labels: bugfix, documentation

#305 chore: Optimize image files in docs
  .readthedocs.yaml
  crowdin.yml
  docs/configuration-reference.md
  docs/images/user-guide/geralt-mod.png
  docs/requirements.in
  docs/requirements.txt
  docs/user-guide/creating-mod-profiles.md
  mkdocs.yml
Labels: documentation

#313 chore: Use auto-generated schema documentation
  CONTRIBUTING.md
  docs/configuration-reference.md
  schemas/mod-profile.md
  support/jsonschema2md.py
Labels: documentation

#315 chore(docs): Reference Mod Engine2 in docs for Google SEO
  docs/index.md
  docs/requirements.in
  docs/requirements.txt
  mkdocs.yml
Labels: documentation

#321 docs: Translate Mod Profile schema docs
  docs/configuration-reference.zh.md
  schemas/mod-profile.zh.md
Labels: documentation

#333 Correct cookies
  docs/index.pl.md
  mkdocs.yml
  typos.toml
Labels: documentation

#348 docs: Fix typo in example profile
  docs/configuration-reference.md
  docs/configuration-reference.pl.md
  docs/configuration-reference.zh.md
Labels: documentation

#368 refactor: Move profile lookups to new ProfileDb
  Cargo.lock
  crates/cli/Cargo.toml
  crates/cli/src/commands/info.rs
  crates/cli/src/commands/launch.rs
  crates/cli/src/commands/launch/launcher.rs
  crates/cli/src/commands/profile.rs
  crates/cli/src/db.rs
  crates/cli/src/db/profile.rs
  crates/cli/src/main.rs
Labels: feature
