Repository garyttierney/me3, pull requests merged in 2025-06, with the labels that each got.

#46 Release documentation
  README.md
  docs/.meta.yml
  docs/blog/posts/.meta.yml
  docs/configuration-reference.md
  docs/index.md
  docs/user-guide/.meta.yml
  docs/user-guide/creating-mod-profiles.md
  docs/user-guide/distribution.md
  docs/user-guide/installation.md
  docs/user-guide/troubleshooting.md
  mkdocs.yml
Labels: documentation, no-changelog

#56 Fix version constraint of workspace packages
  crates/cli/Cargo.toml
  crates/mod-host/Cargo.toml
Labels: no-changelog

#59 Support loading natives with initializers
  CHANGELOG.md
  Cargo.lock
  crates/mod-host/Cargo.toml
  crates/mod-host/src/host.rs
  crates/mod-host/src/lib.rs
  crates/mod-protocol/src/native.rs
Labels: feature

#60 Support for self-updates on Windows
  CHANGELOG.md
  Cargo.lock
  crates/cli/Cargo.toml
  crates/cli/src/commands.rs
  crates/cli/src/commands/windows.rs
  crates/cli/src/main.rs
Labels: feature

#58 Documentation fixes
  Cargo.lock
  README.md
  docs/index.md
  docs/user-guide/installation.md
  installer.nsi
Labels: documentation, no-changelog

#63 Fix some typos and add spellchecking to CI
  .github/workflows/changelog-check.yml
  .github/workflows/checks.yml
  crates/cli/src/commands/launch.rs
  crates/launcher/src/main.rs
  crates/mod-host-assets/src/mapping.rs
  crates/mod-host/src/detour.rs
  crates/mod-protocol/src/native.rs
  docs/configuration-reference.md
  schemas/mod-profile.json
Labels: documentation, no-changelog

#62 Fix release note generation and PR creation
  support/release
Labels: no-changelog

#74 New game agnostic asset override approach
  Cargo.lock
  crates/mod-host-assets/Cargo.toml
  crates/mod-host-assets/include/dl_allocator.hpp
  crates/mod-host-assets/include/dl_string_bridge.hpp
  crates/mod-host-assets/src/alloc/default.rs
  crates/mod-host-assets/src/alloc/mod.rs
  crates/mod-host-assets/src/dl_device.rs
  crates/mod-host-assets/src/ebl.rs
  crates/mod-host-assets/src/file_step.rs
  crates/mod-host-assets/src/lib.rs
  crates/mod-host-assets/src/mapping.rs
  crates/mod-host-assets/src/pe.rs
  crates/mod-host-assets/src/rtti.rs
  crates/mod-host-assets/src/rva.rs
  crates/mod-host-assets/src/singleton.rs
  crates/mod-host-assets/src/sleep.rs
  crates/mod-host-assets/src/string.rs
  crates/mod-host-assets/src/wwise.rs
  crates/mod-host/src/asset_archive.rs
  crates/mod-host/src/asset_hooks.rs
  crates/mod-host/src/lib.rs
Labels: feature, no-changelog

#78 fix(ci): fix typo in publishing job
  .github/workflows/publish.yml
  .github/workflows/sbom.yml
Labels: no-changelog

#79 fix(ci): checkout sources during publishing
  .github/workflows/publish.yml
Labels: no-changelog

#86 OTEL exporter and trace linking
  Cargo.lock
  crates/cli/Cargo.toml
  crates/cli/src/commands/launch.rs
  crates/cli/src/commands/windows.rs
  crates/cli/src/main.rs
  crates/launcher/src/main.rs
  crates/mod-host/src/lib.rs
  crates/mod-protocol/src/lib.rs
  crates/telemetry/Cargo.toml
  crates/telemetry/src/lib.rs
Labels: feature, no-changelog

#85 feat: add icon and diagnostics verb to windows shell
  .github/ISSUE_TEMPLATE/config.yml
  CHANGELOG.md
  README.md
  distribution/assets/me3.ico
  installer.nsi
Labels: feature

#87 Add icon to README
  README.md
  distribution/assets/me3.png
Labels: feature

#99 fix: create asset folder in installer correctly
  CHANGELOG.md
  installer.nsi
Labels: bugfix

#104 Reduce noise from PRs
  .github/codecov.yml
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Labels: no-changelog

#108 fix: hardcoded app id in steam compat path for proton
  crates/cli/src/commands/launch.rs
Labels: bugfix, no-changelog

#112 Warning when loading NR soundbanks and wems
  crates/mod-host/src/asset_hooks.rs
Labels: no-changelog

#113 feat: distributed telemetry overhaul
  .vscode/settings.json
  .vscode/tasks.json
  Cargo.lock
  Cargo.toml
  crates/cli/Cargo.toml
  crates/cli/src/commands.rs
  crates/cli/src/commands/launch.rs
  crates/cli/src/commands/profile.rs
  crates/cli/src/main.rs
  crates/env/Cargo.toml
  crates/env/src/lib.rs
  crates/launcher/Cargo.toml
  crates/launcher/src/game.rs
  crates/launcher/src/main.rs
  crates/mod-host/Cargo.toml
  crates/mod-host/src/host.rs
  crates/mod-host/src/lib.rs
  crates/telemetry/Cargo.toml
  crates/telemetry/src/lib.rs
Labels: feature, no-changelog

#114 docs: add update instructions to release notes
  .github/workflows/publish.yml
  CHANGELOG.md
  Cargo.toml
  releng/RELEASE_NOTES.md
  releng/bin/create-release
  releng/bin/create-release-pr
Labels: no-changelog

#126 fix(linux): ensure config home exists before creating default config
  installer.sh
Labels: bugfix, no-changelog

#134 fix(linux): fallback to global steam compat tool
  crates/cli/src/commands/launch.rs
Labels: bugfix

#147 chore: generate LLVM profdata from mod-host
  crates/mod-host/src/lib.rs
Labels: feature

#178 feat(dev): support debugging wine executables on linux with LLDB
  .lldbinit
  support/lldb/me3.py
Labels: feature

#180 feat: capture windows exceptions during native mod loads
  Cargo.lock
  crates/cli/Cargo.toml
  crates/mod-host/Cargo.toml
  crates/mod-host/src/host.rs
  typos.toml
Labels: feature

#186 feat: Create portable distributions
  .github/workflows/publish.yml
  Makefile
  distribution/portable/cross-platform/eldenring-default.me3
  distribution/portable/cross-platform/eldenring-mods/.gitkeep
  distribution/portable/cross-platform/nightreign-default.me3
  distribution/portable/cross-platform/nightreign-mods/.gitkeep
  distribution/portable/linux/launch-eldenring-mods
  distribution/portable/linux/launch-nightreign-mods
  distribution/portable/windows/launch-eldenring-mods.bat
  distribution/portable/windows/launch-nightreign-mods.bat
Labels: feature

#217 feat: Support for custom steam compatibility tools
  crates/cli/src/commands/launch.rs
Labels: feature

#208 feat(host): use closure ffi
  Cargo.lock
  crates/mod-host-assets/src/dl_device.rs
  crates/mod-host-assets/src/dlc.rs
  crates/mod-host-assets/src/ebl.rs
  crates/mod-host-assets/src/file_step.rs
  crates/mod-host-assets/src/wwise.rs
  crates/mod-host/Cargo.toml
  crates/mod-host/src/asset_hooks.rs
  crates/mod-host/src/deferred.rs
  crates/mod-host/src/host.rs
  crates/mod-host/src/host/append.rs
  crates/mod-host/src/host/hook.rs
  crates/mod-host/src/host/hook/curried.rs
  crates/mod-host/src/host/hook/thunk.S
  crates/mod-host/src/host/hook/thunk.rs
  crates/mod-host/src/lib.rs
Labels: feature

#226 feat: Allow skipping SteamAPI_Init() in launcher
  crates/cli/src/commands/launch.rs
  crates/launcher-attach-protocol/src/lib.rs
  crates/launcher/src/main.rs
Labels: feature

#238 feat: Authenticode signatures for Windows binaries
  .github/workflows/publish.yml
  Makefile
  releng/certificate.pem
Labels: feature
